<div class="row-layout left">
  <div class="column-layout group">
    <img src="/assets/Travel-App-Color-Logo.svg" class="image" />
    <div class="column-layout group_1">
      <div class="column-layout group_2">
        <h5 class="h5">
          Reset password
        </h5>
        <p class="ig-typography__body-2 text">
          Please, type the email you have used for your your account registration. We are going to send you an activation link there where you can reset your password.
        </p>
      </div>
      <div class="column-layout group_1">
        <igx-input-group type="box" class="input">
          <input type="email" placeholder="myname@website.com" igxInput />
          <label igxLabel>Email address</label>
        </igx-input-group>
      </div>
    </div>
    <button igxButton="contained" type="button" igxRipple [routerLink]="['/home/set-new-password']" class="button">
      Send reset link
    </button>
  </div>
</div>
<div class="row-layout right">
  <img src="/assets/ResetPassword.jpg" class="image_1" />
</div>
