<div class="row-layout all-articles">
  <div class="column-layout group">
    <h6 class="h6">
      All articles
    </h6>
    <div class="row-layout group_1">
      @for (item of travelAppDataArticlesSource1; track item) {
        <igx-card class="card">
          <igx-card-media height="240px" class="media-content">
            <img [src]="item.image_url" class="image" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              {{ item.title }}
            </h3>
            <h5 igxCardHeaderSubtitle>
          </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <p class="ig-typography__body-2 text">
              {{ item.subtitle }}
            </p>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <ng-container igxStart>
              <button igxButton="flat" type="button" igxRipple class="button">
                READ
              </button>
            </ng-container>
            <ng-container igxEnd>
              <button igxIconButton="flat" igxRipple class="icon-button">
                <igx-icon class="icon">
                  favorite
                </igx-icon>
              </button>
              <button igxIconButton="flat" igxRipple class="icon-button">
                <igx-icon class="icon">
                  share
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
      }
      @for (item of travelAppDataArticlesSource2; track item) {
        <igx-card class="card">
          <igx-card-media height="240px" class="media-content">
            <img [src]="item.image_url" class="image" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              {{ item.title }}
            </h3>
            <h5 igxCardHeaderSubtitle>
          </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <p class="ig-typography__body-2 text">
              {{ item.subtitle }}
            </p>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <ng-container igxStart>
              <button igxButton="flat" type="button" igxRipple class="button">
                READ
              </button>
            </ng-container>
            <ng-container igxEnd>
              <button igxIconButton="flat" igxRipple class="icon-button">
                <igx-icon class="icon">
                  favorite
                </igx-icon>
              </button>
              <button igxIconButton="flat" igxRipple class="icon-button">
                <igx-icon class="icon">
                  bookmark
                </igx-icon>
              </button>
              <button igxIconButton="flat" igxRipple class="icon-button">
                <igx-icon class="icon">
                  share
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
      }
      @for (item of travelAppDataArticlesSource3; track item) {
        <igx-card class="card">
          <igx-card-media height="240px" class="media-content">
            <img [src]="item.image_url" class="image" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              {{ item.title }}
            </h3>
            <h5 igxCardHeaderSubtitle>
          </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <p class="ig-typography__body-2 text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <ng-container igxStart>
              <button igxButton="flat" type="button" igxRipple class="button">
                READ
              </button>
            </ng-container>
            <ng-container igxEnd>
              <button igxIconButton="flat" igxRipple class="icon-button">
                <igx-icon class="icon">
                  favorite
                </igx-icon>
              </button>
              <button igxIconButton="flat" igxRipple class="icon-button">
                <igx-icon class="icon">
                  share
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
      }
      @for (item of travelAppDataArticlesSource4; track item) {
        <igx-card class="card">
          <igx-card-media height="240px" class="media-content">
            <img [src]="item.image_url" class="image" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              {{ item.title }}
            </h3>
            <h5 igxCardHeaderSubtitle>
          </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <p class="ig-typography__body-2 text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <ng-container igxStart>
              <button igxButton="flat" type="button" igxRipple class="button">
                READ
              </button>
            </ng-container>
            <ng-container igxEnd>
              <button igxIconButton="flat" igxRipple class="icon-button">
                <igx-icon class="icon">
                  favorite
                </igx-icon>
              </button>
              <button igxIconButton="flat" igxRipple class="icon-button">
                <igx-icon class="icon">
                  share
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
      }
    </div>
  </div>
</div>
<div class="column-layout recommended">
  <div class="column-layout group_2">
    <h6 class="h6">
      Recommended
    </h6>
    <div class="column-layout group_3">
      @for (item of travelAppDataSelectedArticles; track item) {
        <igx-card class="card_1">
          <igx-card-media height="160px" class="media-content_1">
            <img [src]="item.image_url" class="image" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              {{ item.title }}
            </h3>
            <h5 igxCardHeaderSubtitle>
              {{ item.subtitle }}
            </h5>
          </igx-card-header>
          <igx-card-actions class="actions-content">
            <ng-container igxStart>
              <button igxButton="flat" type="button" igxRipple class="button">
                Read
              </button>
            </ng-container>
            <ng-container igxEnd>
              <button igxIconButton="flat" igxRipple>
                <igx-icon>
                  bookmark_border
                </igx-icon>
              </button>
              <button igxIconButton="flat" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
      }
    </div>
  </div>
</div>
