<div class="row-layout left">
  <div class="column-layout group">
    <img src="/assets/Travel-App-Color-Logo.svg" class="image" />
    <div class="column-layout group_1">
      <h5 class="h5">
        Sign Up
      </h5>
      <p class="ig-typography__body-2 text">
        Don't have an account? Sign up now for free and enjoy thousands of great travel opportunities
      </p>
    </div>
    <div class="column-layout group_2">
      <igx-input-group type="box" class="input">
        <input type="email" placeholder="myname@website.com" igxInput />
        <label igxLabel>Email address</label>
      </igx-input-group>
      <igx-input-group type="box" class="input">
        <input type="password" placeholder="Min 8 characters" igxInput />
        <label igxLabel>Password</label>
      </igx-input-group>
      <igx-input-group type="box" class="input">
        <input type="password" placeholder="Min 8 characters" igxInput />
        <label igxLabel>Repeat Password</label>
      </igx-input-group>
      <div class="row-layout group_3">
        <igx-checkbox labelPosition="after" [checked]="checked" (change)="checked = $event.checked" class="checkbox">
          Remember me
        </igx-checkbox>
      </div>
    </div>
    <div class="column-layout group_4">
      <button igxButton="contained" type="button" igxRipple [routerLink]="['/in-app/dashboard']" class="button">
        Create new account
      </button>
      <div class="row-layout group_5"></div>
      <button igxButton="outlined" type="button" igxRipple [routerLink]="['/home/login']" class="button_1">
        Already have an account? SIgn in
      </button>
    </div>
  </div>
</div>
<div class="row-layout right">
  <img src="/assets/SignUp.jpg" class="image_1" />
</div>
