<div class="row-layout left">
  <div class="column-layout group">
    <img src="/assets/Travel-App-Color-Logo.svg" class="image" />
    <div class="column-layout group_1">
      <div class="column-layout group_2">
        <h5 class="h5">
          Set new password
        </h5>
        <p class="ig-typography__body-2 text">
          Please, type your new password and click confirm.
        </p>
      </div>
      <div class="column-layout group_1">
        <igx-input-group type="box" class="input">
          <input type="password" placeholder="Min 8 characters" igxInput />
          <label igxLabel>Password</label>
        </igx-input-group>
        <igx-input-group type="box" class="input">
          <input type="password" placeholder="Min 8 characters" igxInput />
          <label igxLabel>Repeat Password</label>
        </igx-input-group>
      </div>
    </div>
    <button igxButton="contained" type="button" igxRipple [routerLink]="['/home/login']" class="button">
      confirm new password
    </button>
  </div>
</div>
<div class="row-layout right">
  <img src="/assets/NewPassword.jpg" class="image_1" />
</div>
